{% extends 'base.html'}

{% block content %}

{% load crispy_forms_tags %}

<div class="col-9">
    <div class="card">
        <div class="card-body">
            <h3>Are you sure that you wish to delete {{ obj }}?</h3>
            <form method="post">
                {{ post_form | crispy }}
                {% csrf_token %}
                <a href="{{ request.META.HTTP_REFERER }}"></a>
                <button type="submit" class="btn-signup" value="confirm">
                  Submit
                </button>
              </form>
        </div>
    </div>
</div>

{% endblock %}
