{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt-3">
            <div class="card">
                <div class="card-body">
                    {% if searched %}
                    <h3>You searched for '{{ searched }}'. The following posts came up:</h3>
                    {% for post in posts %}
                    <a href="{% url 'post_detail' post.slug %}">{{ post }}</a><br>
                    {% endfor %}
                    {% else %}
                    <h3>Hey! You forgot to search for a post</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}