{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9 mt-3">
            <div class="card">
                <div class="card-body">
                    {% if searched %}
                    <h3>You searched for '{{ searched }}'. The following posts came up:</h3>
                    {% for post in posts %}
                    <a href="{% url 'post_detail' post.slug %}">{{ post }}</a><br>
                    {% endfor %}
                    {% else %}
                    <h3>Hey! You forgot to search for a post</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-body">
                    {% if not user.is_authenticated %}
                    <h3>Welcome to the site.</h3>
                    <p>You can read posts here but to like and comment please sign in our signup</p>
                    {% else %}
                    <h3>Welcome {{ user.username }}</h3>
                    <p>What will you write about today?</p>
                    <a href="{% url 'create_post' %}">Create a post</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}